---
import ImageWrapper from "../misc/ImageWrapper.astro";
import { Icon } from "astro-icon/components";
import { profileConfig } from "../../config";
import { url } from "../../utils/url-utils";

const config = profileConfig;
---

<div class="card-base p-4 text-center">
  <!-- Logo Badge -->
  <div class="mb-3 flex justify-center">
    <a
      aria-label="Go to About Page"
      href={url("/about/")}
      class="group block relative overflow-hidden rounded-full active:scale-95 w-16 h-16 border-2 border-[var(--primary)]/20"
    >
      <div
        class="absolute transition pointer-events-none group-hover:bg-black/30 group-active:bg-black/50
            w-full h-full z-50 flex items-center justify-center rounded-full"
      >
        <Icon
          name="fa6-regular:address-card"
          class="transition opacity-0 scale-90 group-hover:scale-100 group-hover:opacity-100 text-white text-lg"
        />
      </div>
      <ImageWrapper
        src={config.avatar || ""}
        alt="Profile Image of the Author"
        class="w-full h-full object-cover rounded-full"
      />
    </a>
  </div>

  <!-- Name -->
  <div class="font-semibold text-base text-90 transition mb-1 tracking-wide">
    {config.name}
  </div>
  <div class="text-xs text-50 transition mb-3 leading-relaxed">
    {config.bio}
  </div>
</div>
